body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid #36454f;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: #36454f;
}

a:visited {
	color: #8d80ad;
}


input {
	display: block;
}

#rubber-duck {
	max-width: 300px;
}

.checkboxes {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	word-wrap: break-word;
}

h2 {
	color: #36454f;
	font-family: arial, sans-serif
}
.outer-container {
    display: flex;
    width: 100%; 
    min-height: 400px;
    background-color: #f4f3ee;
	border-radius: 8%;
}
.basic-info {
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
	background-color: #8d80ad;
    box-sizing: border-box;
	border-radius: 10%;
}
.inner-container {
    display: flex;         /*This space to contain stack the two large sections*/
    flex-direction: column;
    width: 100%;
}
.upper-section {
    display: flex;         /* nested flexbox */
    justify-content: center;
    align-items: center;
    height: 250px;          /* fixed height */
    color: #36454f;
    box-sizing: border-box;
    
}

.lower-section {
    display: flex;        
    justify-content: center;
    align-items: center;
    flex-grow: 1;          /* takes remaining space*/
	border-radius: 10%;
	color: #36454f;
    box-sizing: border-box;
}

/* Bastic Profile Information  */
.circle-profile {
	position: relative;
	top: 10px;
	width: 120px; 
	height: 120px; 
	overflow: hidden; 
	border-radius: 50%;
	
	
}

/* Jeri Stewart Heading */
h5 {
	position: relative;
	color: #f4f3ee;
	font-family: arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 1px;

}


.button-size {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.button-color {
	background-color: yellow;
}

#skill-header {
	font-size: 9px;
	text-align: center;
}
#interests {
	font-size: 10px;
	color: #f4f3ee;
	margin-left: 10px;
}
h6 {
	position: relative;
	top: 20px;
}

p {
	font-size: 10px
}


/* Career Goals Section */
h4 {
	margin-left: 10px;
	text-decoration: underline;

}
#career-body {
	font-size: 15px;
	margin-left: 10px;
}




/* Skills Section */
#tech-skills {
	font-size: 12px;
}
#soft-skills {
	font-size: 12px;
}

#soft-skills-heading {
	position: relative;
	left: 20px;
}

